<!--<app-welcome></app-welcome>
-->
<!-- <app-login></app-login> -->



<!--
<div>Component Content</div>
-->

<div style="text-align:center"(click)="openMenu($event)">

    <h1>Welcome to {{title1}}!</h1>

</div>

<app-popup-menu>
        <p class="title"><b>Choose an item</b></p>
        <div class="items">
            <p (click)="itemSelected(1)">Item One</p>
            <p (click)="itemSelected(2)">Item Two</p>
            <p (click)="itemSelected(3)">Item Three</p>
            <p (click)="itemSelected(4)">Item Four</p>
        </div>
</app-popup-menu>

<app-menu></app-menu>
<BR><BR>

<div class="container">
    <router-outlet></router-outlet>
</div>

<BR><BR>
<app-footer></app-footer>